node_modules/
wwwroot/
packages/
**/mockLogger/mocks/
**/config/version.json
**/config/config.*.json
**/server.mock.*.cjs
!**/config/config.development.json
!**/config/config.environment.json
.env
proxyUrl.cjs
*.log
*.bak
*.orig
*~
