<div class="flex-row">
    <button type="button" class="btn btn-info" goBack>
        <span class="fas fa-arrow-left"></span>
        <span>back</span>
    </button>

    <button type="button" class="btn btn-primary" (click)="save()">
        <span class="fas fa-save"></span>
        <span>save</span>
    </button>

    <button type="button" class="btn btn-primary" (click)="import()">
        <span class="fas fa-file-import"></span>
        <span>import</span>
    </button>

    <debug-data [copyClick]="metadata">copy metadata</debug-data>
</div>

<relations-editor class="flex-1" [metadata]="metadata"></relations-editor>