@use 'sass:color';
@use 'sass:map';
@use 'defaultTheme' as *;

@use 'defaultTheme';

//############## AVAILABLE COLORS ##############

$themeWhite: #ffffff;
$themeBlack: #111111;

$themeGray-0: #e5e5e5;
$themeGray-1: #e0e0e0;
$themeGray-2: #cccccc;
$themeGray-3: #aaaaaa;
$themeGray-4: #9d9d9d;
$themeGray-5: #737373;
$themeGray-6: #555555;
$themeGray-7: #3d3d3d;
$themeGray-8: #292929;
$themeGray-9: #1e1e1e;

//############## DARK THEME ##############

$_theme:
(
    page:
    (
        background: $themeGray-8,
        foreground: $gray-1,
        scrollbar: color.scale($white, $lightness: 14%),
    ),
    // primary:
    // (
    //     background: $gray-0,
    //     foreground: $black,
    //     scrollbar: color.scale($gray-0, $lightness: 14%),
    // ),
    // secondary:
    // (
    //     background: $gray-7,
    //     foreground: $white,
    //     scrollbar: color.scale($gray-7, $lightness: 14%),
    // ),
    // block:
    // (
    //     background: $white,
    //     foreground: $black,
    //     scrollbar: color.scale($white, $lightness: 14%),
    // ),
    // pageTitle:
    // (
    //     background: $gray-8,
    //     foreground: $gray-1,
    // ),
    // mainMenu:
    // (
    //     background: $orangeRed,
    //     backgroundGradient: color.scale($orangeRed, $lightness: -12%, $saturation: 15%),
    //     foreground: $black,
    //     active:
    //     (
    //         foreground: $white,
    //         background: inherit,
    //     ),
    //     drawer:
    //     (
    //         background: $white,
    //         foreground: $black,
    //     )
    // ),
    dialog:
    (
        border: $gray-2,
        title:
        (
            background: $black,
            foreground: $gray-3,
        ),
        content:
        (
            background: $themeGray-7,
            foreground: $white,
        ),
        closeButton:
        (
            hover:
            (
                background: color.scale($black, $lightness: 10%),
                foreground: color.scale($gray-3, $lightness: 10%),
            ),
        ),
    ),
    // input:
    // (
    //     background: $white,
    //     foreground: $gray-6,
    //     border: $gray-3,
    //     groupAddon:
    //     (
    //         background: color.scale($gray-0, $lightness: 30%),
    //         foreground: inherit,
    //     ),
    //     invalid:
    //     (
    //         border: $red,
    //     ),
    //     error:
    //     (
    //         background: inherit,
    //         foreground: $red,
    //         outline: $red,
    //     ),
    // ),
    // label:
    // (
    //     invalid:
    //     (
    //         foreground: $red,
    //         background: inherit,
    //     ),
    // ),
    // select:
    // (
    //     tag:
    //     (
    //         background: $assecoBlue,
    //         foreground: $black,
    //     ),
    // ),
    // grid:
    // (
    //     evenRow:
    //     (
    //         background: $white,
    //         foreground: inherit,
    //     ),
    //     oddRow:
    //     (
    //         background: $gray-0,
    //         foreground: inherit,
    //     ),
    //     highlight:
    //     (
    //         header:
    //         (
    //             background: $gray-8,
    //             foreground: $white,
    //         ),
    //         evenRow:
    //         (
    //             background: $gray-0,
    //             foreground: inherit,
    //         ),
    //         oddRow:
    //         (
    //             background: $white,
    //             foreground: inherit,
    //         ),
    //     ),
    // ),
    // separator:
    // (
    //     background: inherit,
    //     foreground: $gray-6,
    // ),
    // level:
    // (
    //     succes: $green,
    //     info: $lightBlue,
    //     warning: $orange,
    //     error: $red,
    //     default: $gray-5,
    // ),
    // weight:
    // (
    //     foreground: $white,
    //     weight-0: $green,
    //     weight-1: $yellowGreen,
    //     weight-2: $yellow,
    //     weight-3: $orange,
    //     weight-4: $orangeRed,
    //     weight-5: $red,
    // ),
    // paging:
    // (
    //     onPrimary:
    //     (
    //         background: $white,
    //         foreground: $blue,
    //         disabled:
    //         (
    //             background: $white,
    //             foreground: $black,
    //         ),
    //         highlight:
    //         (
    //             background: $white,
    //             foreground: $gray-8,
    //             disabled:
    //             (
    //                 background: $white,
    //                 foreground: $black,
    //             ),
    //         ),
    //     ),
    //     onSecondary:
    //     (
    //         background: $blue,
    //         foreground: $white,
    //         highlight:
    //         (
    //             background: $gray-8,
    //             foreground: $white,
    //         ),
    //     ),
    // ),
    // alert:
    // (
    //     info:
    //     (
    //         background: $lightBlue,
    //         foreground: $white,
    //     ),
    //     warning:
    //     (
    //         background: $orange,
    //         foreground: $white,
    //     ),
    //     success:
    //     (
    //         background: $green,
    //         foreground: $white,
    //     ),
    //     danger:
    //     (
    //         background: $red,
    //         foreground: $white,
    //     ),
    //     error:
    //     (
    //         background: $red,
    //         foreground: $white,
    //     ),
    // ),
    // text:
    // (
    //     danger:
    //     (
    //         background: inherit,
    //         foreground: $red,
    //     ),
    //     warning:
    //     (
    //         background: inherit,
    //         foreground: $orange,
    //     ),
    //     success:
    //     (
    //         background: inherit,
    //         foreground: $green,
    //     ),
    //     info:
    //     (
    //         background: inherit,
    //         foreground: $lightBlue,
    //     ),
    // ),
    // button:
    // (
    //     primary:
    //     (
    //         background: $green,
    //         foreground: $white,
    //     ),
    //     info:
    //     (
    //         background: $lightBlue,
    //         foreground: $white,
    //     ),
    //     default:
    //     (
    //         background: $gray-5,
    //         foreground: $white,
    //     ),
    //     success:
    //     (
    //         background: $green,
    //         foreground: $white,
    //     ),
    //     warning:
    //     (
    //         background: $orange,
    //         foreground: $white,
    //     ),
    //     danger:
    //     (
    //         background: $red,
    //         foreground: $white,
    //     ),
    //     error:
    //     (
    //         background: $red,
    //         foreground: $white,
    //     ),
    //     icon:
    //     (
    //         background: inherit,
    //         foreground: $gray-5,
    //         hover:
    //         (
    //             background: inherit,
    //             foreground: $green,
    //         ),
    //     ),
    // ),
);

@function defineTheme($colors: ())
{
    $colors: map.deep-merge($_theme, $colors);

    @return defaultTheme.defineTheme($colors);
}