@use '../vars';

@mixin css
{
    //############## CONTROL LABEL ##############

    .control-label
    {
        display: block;
        font-size: 1em;
        font-weight: 500;
    }

    //############## FORM CONTROL ##############

    %form-control
    {
        border-radius: vars.$borderRadius;
        border-style: solid;
        border-width: 1px;
        box-shadow: none;
        font-size: 1em;
        padding: 3px;
        padding-left: 7px;
        width: 100%;
        font-family: "Inter";
        color: var(--input-foreground);
        border-color: var(--input-border);
        background-color: var(--input-background);
    }

    %form-control-disabled
    {
        &:disabled
        {
            background-color: transparent;
            border-color: transparent;

            .selected-caret
            {
                color: transparent;
            }
        }
    }

    .form-control:not(ng-select)
    {
        @extend %form-control, %form-control-disabled;
    }

    .form-control-static
    {
        padding: 3px;
        padding-left: 3px;
        padding-left: 7px;
        margin-bottom: 0.9em;
        color: var(--input-foreground);
    }

    ng-select.form-control
    {
        .covid-normal-state
        {
            @extend %form-control, %form-control-disabled;
        }

        .covid-select-tag
        {
            background-color: var(--select-tag-background);
            color: var(--select-tag-foreground);
        }
    }

    //############## INPUT GROUP ##############

    .input-group
    {
        display: flex;
        flex-direction: row;

        .input-group-addon
        {
            color: var(--input-foreground);
            background-color: var(--input-error-background);
            border-color: var(--input-border);
            font-size: 0.7em;
            align-self: center;
            padding: 3px 4px 4px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-width: 1px;
            border-bottom-width: 1px;

            &:first-child
            {
                border-left-width: 1px;
                border-left-style: solid;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

        .form-control
        {
            flex: 1;
            min-width: 0;
            min-height: 0;
            border-radius: 0;

            &:last-child
            {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

    //############## TIGHT ##############

    // .tight
    // {
    //     .btn
    //     {
    //         font-size: 0.8em;
    //         padding: 4px 8px;

    //         &:active:not(.disabled):not(.btn-select)
    //         {
    //             padding-left: 6px;
    //             padding-right: 6px;
    //             margin-left: 2px;
    //             margin-right: 2px;
    //         }
    //     }

    //     ng-select
    //     {
    //         button.btn-select,
    //         div.btn-select
    //         {
    //             font-size: 12px;
    //             padding: 3px;
    //         }

    //         .edit-normal-state
    //         {
    //             .btn-select
    //             {
    //                 padding: 0;

    //                 .edit-control
    //                 {
    //                     height: auto;
    //                     padding: 3px;
    //                 }
    //             }
    //         }
    //     }
    // }

    //############## FORM ERRORS ##############

    .has-error
    {
        %control-error
        {
            outline-color: transparent;
            outline-style: solid;
            outline-width: 2px;
            border-color: var(--input-invalid-border);

            &:active,
            &:focus
            {
                outline-color: var(--input-error-outline);
            }
        }

        .control-label
        {
            color: var(--label-invalid-foreground);
        }

        .form-control:not(ng-select)
        {
            @extend %control-error;
        }

        ng-select.form-control
        {
            .normal-state button.btn-select
            {
                @extend %control-error;

                display: flex;
            }

            .edit-normal-state div.btn-select
            {
                @extend %control-error;

                display: flex;
            }
        }
    }

    .validation-error-div
    {
        font-size: 0.7em;

        &>div
        {
            color: var(--label-invalid-background);
        }
    }

    .form-error
    {
        list-style: square;
        display: list-item;
        margin-left: 14px;
    }

    reserved-space-validation-errors-container>div
    {
        min-height: .9em;
    }
}