<div class="flex-row margin-top-small margin-horizontal-small">
    <button type="button" class="btn btn-info" goBack>
        <span class="fas fa-arrow-left"></span>
        <span>back</span>
    </button>

    <button type="button" class="btn btn-primary margin-left-extra-small" (click)="saveMetadata()">
        <span class="fas fa-save"></span>
        <span>save <ng-container *ngIf="!(history?.saved ?? true)">*</ng-container></span>
    </button>

    <button type="button" class="btn btn-primary margin-left-extra-small" (click)="editMetadata()" *authorize="'metadata-editation'">
        <span class="fas fa-pen"></span>
        <span>edit metadata</span>
    </button>

    <button class="btn-icon margin-left-extra-small" tooltip="undo" *ngIf="history" (click)="history.undo()">
        <span class="fas fa-undo"></span>
    </button>

    <button class="btn-icon margin-left-extra-small" tooltip="redo" *ngIf="history" (click)="history.redo()">
        <span class="fas fa-redo"></span>
    </button>
</div>